.recuperar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f6f9;
}

.recuperar-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  margin-bottom: 0.5rem;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

input.is-invalid {
  border-color: red;
}

.error small {
  color: red;
  font-size: 12px;
}

.btn-recuperar {
  background: linear-gradient(90deg, #e9c7c7, #d70528); 
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.btn-recuperar:hover {
  background: #d70528;
}
.volver {
  margin-top: 1.5rem;
}

.btn-volver {
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  background:linear-gradient(90deg, #e9c7c7, #2f8ee1); /* gris */
  color: white;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-volver:hover {
  background: #2f8ee1;
}
.mensaje {
  margin-top: 1rem;
  font-size: 14px;
  color: green;
}
