/* Banner Institucional */
.banner-container {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  max-width: fit-content;
  margin-bottom: 2rem;
}

.banner-left {
  padding: 15px 25px;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skew(-21deg);
  z-index: 2;
}

.banner-left i { transform: skew(21deg); }

.banner-right {
  background: white;
  color: black;
  padding: 10px 40px;
  margin-left: -15px;
  border-left: 8px solid #d70528;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transform: skew(-21deg);
  z-index: 1;
}

.banner-right p {
  margin: 0;
  transform: skew(21deg);
}

/* Tabla */
.custom-thead th {
  border: none !important;
  background-color: #ee433a;
  color: white;
  font-size: 0.85rem;
  text-transform: uppercase;
  padding: 15px;
}

.custom-tbody td {
  border: none !important;
  padding: 15px;
  vertical-align: middle;
}

/* Estilos de Formulario */
.form-control, .form-select {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(215, 5, 40, 0.25);
  border-color: #d70528;
}

hr {
  opacity: 0.1;
}